@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root {
    --primary-color: #0d1321;
    --secodary-color: #ffeddf;
    --accent1-color: #c5d86d;
    --accent2-color: #86615c;

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #0d1321;
    --nav-link-color: #ffeddf;
    --nav-hover-link-color: #c5d86d;
    --nav-hover-background-color: #86615c;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    padding: 25px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    color: var(--nav-link-color);
}

h2 {
    font-size: 1.5rem;
    color: var(--accent2-color);
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.logo {
    grid-column: 1;
    width: 120px;
    margin: 0 0.25rem 0 1rem;
    height: auto;
}

.navigation {
    grid-column: 2;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navigation a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    height: auto;
}

.banner img {
    width: 100%;
}

h1 {
    position: absolute;
    top: 50px;
    left: 0;
    right: -24px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#contact {
    top: 150px;
    max-width: 1020px;
}

#welcome-home {
    top: 400px;
    max-width: 850px;
    left: 80px;
}


#trips {
    top: 150px;
    max-width: 1020px;
}

.call-to-action {
    margin-top: 100px;
    padding: 50px;
}

article {
    position: absolute;
    bottom: 200px;
    color: var(--secodary-color);
    background-color: rgba(77, 109, 169, 0.5);
    left: 20px;
    padding-left: 20px;
}


article img {
    float: right;
    margin-left: 50px;
    width: 300px;
    padding: 20px;
}


.history {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.history h2 {
    grid-column: 1/4;
    text-align: center;
}

.history img {
    margin-left: auto;
    margin-right: auto;
}


.adventures {
    padding: 40px 0;
    text-align: center;
}

.adventure-images {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

figure {
    flex-basis: calc(20% - 20px); /* 20% width with some spacing between images */
    margin: 10px; /* Add spacing around each figure */
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 10px;
    font-weight: bold;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content .social-icons {
    display: flex;
    justify-content: flex-end;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.1);
}

form {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: grid;
}

label {
    margin: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: var(--accent2-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.company-info {
    padding: 30px;
}


.profile {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.newsletter {
    padding-top: 20px;
    padding-bottom: 20px;
}


.call-to-action {
    text-align: center;
    margin-bottom: 20px;
}
.trip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.trip-description {
    flex-basis: 30%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trip-description img {
    width: 300px;
    margin-bottom: 10px;
}
.trip-table {
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
}
.trip-table th,
.trip-table td {
    padding: 8px;
    border: 1px solid #ddd;
}
/* CSS style for the callout button */
.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.home-page-newsletter {
    text-align: center;
    padding: 20px;
    background-color: #eee;
}

.cta {
    text-align: center;
    background-color: #eee;
    padding: 40px;
}

.grid-about-offerings {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    padding: 20px;
}

.grid-item-about img, .grid-item-offering img{
    width: 100%;
}