@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root {
    --primary-color: #0d1321;
    --secodary-color: #ffeddf;
    --accent1-color: #c5d86d;
    --accent2-color: #86615c;

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #0d1321;
    --nav-link-color: #ffeddf;
    --nav-hover-link-color: #c5d86d;
    --nav-hover-background-color: #86615c;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    padding: 25px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    color: var(--nav-link-color);
}

h2 {
    font-size: 1.5rem;
    color: var(--accent2-color);
}

nav a {
    text-decoration: none;
}

.hero {
    position: relative;
}


h1 {
    position: absolute;
    top: 100px;
    left: 250px;
}

article {
    position: absolute;
    bottom: 50px;
    color: var(--secodary-color);
    background-color: rgba(77, 109, 169, 0.5);
    left: 20px;
    padding-left: 20px;
}

article img {
    float: right;
    margin-left: 50px;
}


/*.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
}

article img {
    float: right;
}*/