@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik&display=swap');


:root {
    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

form {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: grid;
}

label {
    margin: 10px 0;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2rem;
}

button:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    margin-top: 20px;
}
